﻿@{
    ViewBag.Title = "Upload Transactions";
}

<h3>Upload your account transactions in a CSV file format.</h3>
<hr />

<div class="row">
@using (Html.BeginForm("Index", "UploadTransactions", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        <label class="control-label col-md-2" for="fileInput">Account transactions</label>
        <div class="col-md-10">
            <input id="fileInput" name="fileUpload" type="file" class="form-control" accept=".csv, text/csv" />
            <span class="field-validation-error text-danger" data-valmsg-for="fileInput" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <input type="submit" class="btn btn-primary btn-block" value="Upload" />
        </div>
    </div>
}
</div>

<div class="row col-md-10">
    <div class="progress progress-striped" style="display:none">
        <div class="progress-bar progress-bar-success">0%</div>
    </div>
    <div id="status"></div>
</div>

@*@section scripts {
    @Scripts.Render("~/bundles/jqueryform")
    <script src="~/Scripts/UploadTransactions.js"></script>
}*@


