﻿@model PagedList.IPagedList<TaxMe.Models.TransactionError>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Upload Results";
}

<h4 class="text-success"><em>@ViewBag.NoOfTransactionUploaded</em> transaction(s) successfully uploaded.</h4>

@if (Model.Any())
{
    var i = 1;

    <p class="text-danger">Below @Model.TotalItemCount transaction(s) could not be uploaded.</p>

    <div class="row">
        <div class="col-md-10">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Acount</th>
                        <th>Description</th>
                        <th>Currency Code</th>
                        <th>Amount</th>
                        <th>Errors</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transactionInError in Model)
                    {
                        <tr>
                            <th>@(i++)</th>
                            <td>@transactionInError.Account</td>
                            <td>@transactionInError.Description</td>
                            <td>@transactionInError.CurrencyCode</td>
                            <td>@transactionInError.Amount</td>
                            <td>
                                <ul>
                                    @foreach(var error in transactionInError.ErrorMessage.Split("|".ToCharArray()))
                                    {
                                        <li>@error</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("UploadResults", new { noOfTransactionsUploaded = ViewBag.NoOfTransactionUploaded, page = page }))

        </div>
    </div>
}