﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    @Html.ActionLink("TaxMe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.IsActive("Home")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@Html.IsActive("UploadTransactions")">@Html.ActionLink("Upload Transactions", "Index", "UploadTransactions")</li>
                    <li class="@Html.IsActive("ViewTransactions")">@Html.ActionLink("View Transactions", "Index", "ViewTransactions")</li>
</ul>
            </div>
        </div>
    </section>
    <section class="container body-content">
        @RenderBody()
    </section>
    <section class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <em>Gururaj Kulkarni</em></p>
        </footer>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
