﻿@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Title.</h2>

<p>This web application processes your account transactions data to further calculate tax figures.</p>
<p>You can upload your account transactions in a CSV file format using the <em><strong>Upload Transactions</strong></em> menu option.</p>
<p><em><strong>View Transactions</strong></em> menu option will let you view all your transactions in a paged view.</p>

<p>I haven't used AJAX so when you perform some operation please wait for it to complete. I know this is not the best experience.</p>
