﻿@model PagedList.IPagedList<TaxMe.Models.Transaction>
@using PagedList.Mvc;
@{
    ViewBag.Title = "View Transactions";
}

<h2>View transactions</h2>

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-10">
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Acount</th>
                        <th>Description</th>
                        <th>Currency Code</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model)
                    {
                        <tr>
                            <th>@transaction.Id</th>
                            <td>@transaction.Account</td>
                            <td>@transaction.Description</td>
                            <td>@transaction.CurrencyCode</td>
                            <td>@transaction.Amount</td>
                        </tr>
                    }
                </tbody>

            </table>

            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        </div>
    </div>
}
else
{
    <p>Currently there are no transactions. You can upload them using the <em>Upload Transactions</em> menu item.</p>
}